# Django settings
SECRET_KEY=
DEBUG=False

# MongoDB settings (inherited from legacy setup)
MONGODB_URI=
MONGODB_DB_NAME=

# LaTeX Compiler Settings
# For local development with docker-compose use http://latex-online:2700/compile
LATEX_COMPILER_URL=https://latexonline.cc/compile
